<p id="notice"><%= notice %></p>

<h1>Listing Recipe Collections</h1>
<p> Hi, <%= current_user %> !</p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_collection.each do |recipe_collection| %>
      <tr>
        <td><%= @user %></td>
        <td><%= link_to 'Show', recipe_collection %></td>
        <td><%= link_to 'Edit', edit_recipe_collection_path(recipe_collection) %></td>
        <td><%= link_to 'Destroy', recipe_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe collection', new_recipe_collection_path %>
