<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%# f.label :recipe_id %><br>
    <%# f.text_field :recipe_id %>
  </div> -->
  <!--<div class="field">
    <%# f.label :recipe_collection_id %><br>
    <%# f.text_field :recipe_collection_id %>
  </div> -->
  <div class="field">
    <%= f.label :last_eaten %><br>
    <%= date_select(:line_item, :last_eaten, :use_two_digit_numbers => true) %>
  </div>
  <div class="actions">
    <%# button_to 'Add to Line Items', line_items_path(recipe_id :recipe) %>
    <%= f.submit %>
  </div>
<% end %>

