<p id="notice"><%= notice %></p>

<h1>Listing Line Items</h1>
<p>Hi, <%= current_user.email %>! </p>


<div>
  <p>Here's your menu for this week.  Is this menu ok or would you like something different?</p>
</div>
<div>
  <table>
  <tbody>
    <tr>
    <td><%= button_to "New Line Item", new_line_item_path %></td>
    <td><%= button_to "Dropdown button for Menu", new_line_item_path %></td>
    </tr>
  </tbody>
</table>
 <%= button_to "New", new_line_item_path %>
<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Recipe Collection</th>
      <th colspan="3">Last Eaten</th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.recipe.title %></td>
        <td><%= line_item.recipe_collection %></td>
        <td><%= line_item.last_eaten %></td>
        <td><%= link_to 'Show', line_item %></td>
        <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
<% @line_items.three_weeks_ago.each do |line_item| %>
<%= line_item.recipe.title %> <br>
<% end %>
<%= link_to 'New Line item', new_line_item_path %>
<%= button_to(@line_items.three_weeks_ago) %>

<br>
<% @line_items.two_weeks_ago.each do |line_item| %>
<%= line_item.recipe.title %> <br>
<% end %>